<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot WebRTC Demo</title>
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body onbeforeunload="disconnect();">
<!--<div id="remoteVideosContainer"></div>-->
<div id="selectedVideosContainer">
    <video id="selfView"></video>
    <div style="height: 200px; width: 100px; float: right; margin-right: 20px">
        <img width="100px" height="65px" style="margin-top: 20px" src="../static/img/logo.png">
        <video id="remoteView"></video>
    </div>
</div>

<script>
    var container = document.getElementById("remoteVideosContainer");
    let selfView = document.getElementById("selfView");
    let remoteView = document.getElementById("remoteView");
</script>
<script src='../static/js/adapter-latest.js'></script>
<script src='../static/js/main.js'></script>
</body>
</html>