<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<h1>登录</h1>
<form th:action="@{/check}" th:method="post">
    <label>
        账号：
        <input name="userId" type="text"/>
    </label><br>
    <label>
        密码：
        <input name="password" type="password"/>
    </label><br>
    <label>
        老师登录：
        <input name="che" type="radio" value="teacher">
    </label>
    <label>
        学生登录：
        <input name="che" type="radio" value="student">
    </label><br>
    <a th:href="@{register}">注册</a>
    <input type="submit" value="登录">
</form>
</body>
</html>