<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>创建班级</title>
</head>
<body>
<div style="text-align: center">
    <h1 style="background-color: cornflowerblue;width: auto" th:text="${teacherName}+'老师，您好'">null老师，您好</h1>
    <form th:action="@{/tec/createClass}" th:method="post">
        <label>
            班级号：
            <input name="teacherId" type="text" value="${teacherId}">
            <input name="classId" type="text"/>
        </label><br>
        <input type="submit" value="创建">
    </form>
</div>
</body>
</html>