<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>学生注册</h1>
<form th:attr="action=@{/registPC/student}">
    账号：<input name="studentId" type="text"/><br>
    名字：<input name="studentName" type="text"/><br>
    密码：<input id="studentpassword" name="studentpassword" type="password"/><br>
    确认密码：<input id="studentsecondPassword" name="studentsecondPassword" type="password"/><br>
    所属班级：<input name="class_id" type="text"/><br>
    <input id="submit" type="submit" value="学生注册"/>
    <span id="ts"></span>
</form>
<script type="text/javascript">
    document.getElementById("studentsecondPassword").addEventListener("focus", checkPwd);
    document.getElementById("studentsecondPassword").addEventListener("blur", checkPwd);

    function checkPwd() {
        if (!$("#studentsecondPassword").val()) {
            $("#ts").text("请输入确认密码").show();
        } else if ($("#studentpassword").val() !== $("#studentsecondPassword").val()) {
            $("#ts").text("两次密码输入不一致").show();
        } else {
            $("#ts").text("").show();
        }
    }
</script>
</body>
</html>