<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
  function checkPassword(){
    var pwd = document.getElementById("password").value;
    var spwd = document.getElementById("secondPassword").value;
    console.log(pwd);
    console.log(spwd);
    if(pwd === spwd){
      document.getElementById("submit").ariaDisabled = false;
    }else {

      document.getElementById("ts").innerHTML="<br><font color='red'>密码输入不一致，请重新输入</font>";
      document.getElementById("submit").ariaDisabled = true;
    }
  }
</script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>学生注册</h1>
  <form th:attr="action=@{}">
    账号：<input type="text" name="studentId" /><br>
    名字：<input type="text" name="studentName" /><br>
    密码：<input type="password" id="password" name="studentpassword" /><br>
    确认密码：<input type="password" id="secondPassword" name="studentsecondPassword" /><br>
    所属班级：<input type="text" name="class_id" /><br>
    <input type="button" id="submit" value="学生注册" onclick="checkPassword()" />
    <span id="ts"></span>
  </form>
</body>
</html>