<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生考试</title>
</head>
<body>
<p th:text="'姓名：'+${student.getName()}"></p>
<p th:text="'学号：'+${student.getStudentId()}"></p>
<p th:text="'班级：'+${student.getClassId().getClassId()}"></p>
<table border="1" align="center">
    <thead>
    <tr>
        <th>标题</th>
        <th>进入考试</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="classTbl : ${allExam}">
        <td th:text="${classTbl.getExamId().getExamId()}"></td>
        <td ><a href="enter.html">进入考试</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>