<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师端作业列表</title>
</head>
<body>

<div style="text-align: center">

   <h1 th:text="${teacherName}+'老师，您好'" style="background-color: cornflowerblue;width: auto"></h1>
    <table border="1" align="center">
        <thead>
        <tr th:if="${exam==0}">
            <th>作业号</th>
            <th>作业内容</th>
            <th>作业开始时间</th>
            <th>作业截止时间</th>
            <th>学生</th>
            <th>完成状态</th>
            <th>分数</th>
        </tr>
        <tr th:if="${exam==1}">
            <th>考试号</th>
            <th>考试内容</th>
            <th>考试开始时间</th>
            <th>考试截止时间</th>
            <th>学生</th>
            <th>完成状态</th>
            <th>分数</th>
        </tr>
        </thead>
        <tbody>
        <!-- 遍历集合，如果被遍历的变量 homeworkList 为 null 或者不存在，则不会进行遍历，也不报错-->
        <tr th:each=" homework : ${homeworkList}">
            <td th:text="${homework.getHomeworkId()}"></td>
            <td th:text="${homework.getHomeworkContent()}"></td>
<!--            <td th:text="${#dates.format(homework.getHomeworkBeginTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>-->
            <td th:text="${homework.getHomeworkBeginTime()}"></td>
            <td th:text="${homework.getHomeworkEndTime()}"></td>
            <td th:text="${homework.getStudent().getName()}"></td>
            <td th:text="${homework.getStatus()}"></td>
            <td th:text="${homework.getScore()}"></td>
        </tr>
        </tbody>
    </table>
    <button th:if="${exam==0}"><a href="tecHomework.html">新增作业</button>
    <button th:if="${exam==1}"><a href="tecHomework.html">新增考试</button>
</div>
</body>
</html>