<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师作业</title>
</head>
<body>
<p th:text="${cla.getTeacherId().getTeacherId()}+'老师'"></p>
<p th:text="'班级：'+${cla.getClassId()}"></p>
<a th:href="@{/tec/homework/addPage/{teacher_id}/{class_id}/(teacher_id=${cla.getTeacherId().getTeacherId()},class_id=${cla.getClassId()})}">新建作业</a>
<table border="1" align="center">
    <thead>
    <tr>
        <th>标题</th>
        <th>详情</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="classTbl : ${homeworkList}">
        <td th:text="${classTbl.getHomeworkId()}"></td>
        <td><a th:href="@{tec/homework/detail/{id}(id=${classTbl.getHomeworkId()})}">详情</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>